{% extends 'base.html' %}
{% block content %}
  <div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card">
        <div>
          <div class="image-wrapper">
            <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
          </div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.image_url }}"
                 alt="Image for {{ g.user.username }}"
                 class="card-image">
            <p>@{{ g.user.username }}</p>
          </a>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Messages</p>
              <h4>
                <a href="/users/{{ g.user.id }}">{{ g.user.messages | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Following</p>
              <h4>
                <a href="/users/{{ g.user.id }}/following">{{ g.user.following | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Followers</p>
              <h4>
                <a href="/users/{{ g.user.id }}/followers">{{ g.user.followers | length }}</a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="row justify-content-center" id="new-message-div">
        <div class="col-md-6">
          <form method="POST" id="new-message-form">
            {{ form.csrf_token }}
            <!-- <script type="text/javascript">
              axios.defaults.headers.common["X-CSRFToken"] = "{{ form.csrf_token.value }}";
          </script> -->
            <div>
              {% if form.text.errors %}
                {% for error in form.text.errors %}
                  <span class="text-danger">
                {{ error }}
              </span>
                {% endfor %}
              {% endif %}
              {{ form.text(placeholder="What's happening?", class="form-control",
               rows="3", id="message-content") }}
            </div>
            <button class="btn btn-outline-success btn-block">Add my message!</button>
          </form>
        </div>
      </div>
      <ul class="list-group" id="messages">
        {% for msg in messages %}
          <li class="list-group-item" data-msg-id="{{ msg.id }}">
            <a href="/messages/{{ msg.id  }}" class="message-link"/>
            <a href="/users/{{ msg.user.id }}">
              <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <div class="message-area">
              <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
              <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
              <p>{{ msg.text }}</p>
            </div>
            {%if msg.user.username != g.user.username%}
              <form method="POST" action="/users/add_like/{{ msg.id }}" id="messages-form">
                <button class="
                  btn 
                  btn-sm 
                  {{'btn-primary' if msg.id in likes else 'btn-secondary'}}"
                  >
                  <i class="fa fa-thumbs-up"></i> 
                </button>
              </form>
            {%endif%}
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <!-- <link rel="script" src="/static/script.js"> -->
  <!-- <script>
    $(document).ready(function() {
      $("#new-message").click(function() {
        $("#new-message-div").toggle();
      });
      async function createMessage(evt) {
        //evt.preventDefault()
        try {
            let response = await axios.post(`${BASE_URL}/messages/new`,
            $("#new-message-form"), { headers: { 'Content-Type': 'application/json'} })
            .then(function(response) {
           
            })
        } catch(err) {
            console.error("createMessage function failed: ", err)
        }
      }
      
      $("#new-message-form").on("submit", createMessage);

    });
  </script> -->
{% endblock %}
